{% extends 'base.html' %}

{% load bootstrap3 i18n %}

{% block content %}
<div class="page-header">
  <h1>
    Forgot your password
  </h1>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="well">
        <p>To reset your password, please enter your e-mail address</p>
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
            {% buttons layout="horizontal" %}
                <button type="submit" class="btn btn-primary">Reset password</button>
                <a class="btn btn-default" href="{% url 'login' %}">Login</a>
            {% endbuttons %}
        </form>
      </div>
  </div>
</div>
{% endblock %}
